# Virtual environment
sbom_env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff
*.log
*.pot
*.pyc
*.so
*.sqlite3
db.sqlite3

# Sqlite database
db.sqlite3

# Security 
executables/
sbom.json
# ^^^ in case not deleted