<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../../static/sbom_viz/css/styles.css">
    <title>Display File</title>
</head>
<body>
    <div class="header">
        <a href="http://127.0.0.1:8000/" id="home-link">Home</a>
        <a href="#" id="diagram-link" class="right">Diagram</a>
        <a href="#" id="licenses-link" class="right">Licenses</a>
        <a href="#" id="vulnerabilities-link" class="right">Vulnerabilities</a>
        <a href="#" id="pdf-preview-link" class="right">PDF Preview</a>
    </div>
    <div class="sidebar" id="sidebar">
        <h2>Sidebar</h2>
        <button class="clear-all-btn" onclick="clearAllCards()">Clear All</button>
        <!-- Cards will be added here -->
    </div>
    <!-- <script src="../../static/sbom_viz/js/fileDisplayPage.js" type="module"></script> -->
    <script>
        // Wait for the module to load before creating the FileDisplayPage instance
        import("../../static/sbom_viz/js/fileDisplayPage.js").then(module => {
            new module.FileDisplayPage();
        });
    </script>
    <script src="../../static/sbom_viz/js/pageTransition.js"></script>
    <div id="tree-svg-container"></div> <!-- For positioning of the tree relative to the navigation bar -->
</body>
</html>