<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SBOM Visualization Tool</title>
    <link rel="stylesheet" type="text/css" href="../../static/sbom_viz/css/styles.css"/>
</head>
<body>
    <div id="app"></div>
    <!--<script src="../static/sbom_viz/js/script.js" type="module"></script> <!-- type must be module here so script.js can import from other javascript files -->
    <div class="header">
        <a href="#" id="home-link">Home</a>
        <a href="#" id="diagram-link" class="right">Diagram</a>
        <a href="#" id="licenses-link" class="right">Licenses</a>
        <a href="#" id="vulnerabilities-link" class="right">Vulnerabilities</a>
        <a href="#" id="pdf-preview-link" class="right">PDF Preview</a>
    </div>
    <form method="post" enctype="multipart/form-data" action="diagram/">
        {% csrf_token %}
        <div id="title">Upload SBOM File</div>

        <!-- Radio Selector for SBOM Standard -->
        <div class="file-type">
            <label for="file-standard-selector">Select SBOM Standard:</label>
            <div id="file-standard-selector">
                <!-- SPDX Radio Option -->
                <label for="file-standard-spdx">SPDX</label>
                <input type="radio" name="file-standard-selector-option" id="file-standard-spdx" value="spdx" checked />
                <!-- CycloneDX Radio Option -->
                <label for="file-standard-cyclone-dx">CycloneDX</label>
                <input type="radio" name="file-standard-selector-option" id="file-standard-cyclone-dx" value="cyclone-dx" />
            </div>
        </div>

        <div class="file-select">
            <!-- SBOM File Select Button -->
            <label for="file-select-input">Select File</label>
            <input type="file" name="file-select-input" id="file-select-input" required/>
        </div>
        
            <!-- SBOM Upload File Button -->
        <button type="submit" id="upload-button">Upload File</button>
    </form>
    <script>
        // Enable the navigation links ONLY if a file has already been uploaded.
        async function setUpNavLinks() {
            const response = await fetch("http://127.0.0.1:8000/uploaded");
            const json = await response.json();
            const uploaded = json["uploaded"];
            if (uploaded) {
                // Set destinations
                document.getElementById("diagram-link").setAttribute("href", "diagram/");
                document.getElementById("licenses-link").setAttribute("href", "licenses/");
                document.getElementById("vulnerabilities-link").setAttribute("href", "vulnerabilities/");
                document.getElementById("pdf-preview-link").setAttribute("href", "pdf-preview/");
            } else {
                // Set styling
                document.getElementById("diagram-link").classList.add("disabled-nav-link");
                document.getElementById("licenses-link").classList.add("disabled-nav-link");
                document.getElementById("vulnerabilities-link").classList.add("disabled-nav-link");
                document.getElementById("pdf-preview-link").classList.add("disabled-nav-link");
            }
        }
        setUpNavLinks();
    </script>
</body>
</html>