<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../../static/sbom_viz/css/styles.css">
    <title>Licenses</title>
</head>
<body>
    <div class="header">
        <a href="http://127.0.0.1:8000/" id="home-link">Home</a>
        <a href="http://127.0.0.1:8000/diagram" id="diagram-link" class="right">Diagram</a>
        <a href="#" id="licenses-link" class="right">Licenses</a>
        <a href="#" id="vulnerabilities-link" class="right">Vulnerabilities</a>
        <a href="#" id="pdf-preview-link" class="right">PDF Preview</a>
    </div>
    <div class="body-space"> <!-- Put all page content inside this div (body-space) so it will not be drawn beneath the navigation bar. -->
        <h2>Licenses</h2>
    </div>
</body>
</html>